<html>
<head>
</head>
<style>

    img {
      display: block;
      margin-left: auto;
      margin-right: auto;

    }
input[type=button], input[type=submit] {
  background-color: #000000;
  border: none;
  color: white;
  padding: 10px 10px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
</style>

<body>
<img src="Logo" alt="ReCode" width="200" height="200">
<div align="center" style="margin-top: 100px">
<form enctype="multipart/form-data" method="post" action="uploader">
    <input type="file" name="file"/>
    <input type="submit"/>
</form>
</div>
</body>
</html>